{% extends "layout.html" %}

{% block body %}
{% include 'category_links.html' %}

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mt-12">

    {% for tip in tips %}
      <div class="card w-full shadow-2xl p-4">
       <div class="card-title uppercase">
          {{tip[0]}}
        </div>
        <div class="py-4">
          {{tip[3]}}
        </div>

        <div class="py-4 flex justify-between">
          <div class="text-blue-500">
            {{tip[4]}}
          </div>
          <div class="text-gray-500">
            by {{tip[1]}}
          </div>
        </div>
      </div>
    {% endfor %}

  </div>

</div>








{% endblock %}


