 <div class="card mt-5 px-5 shadow-2xl bg-red-100">
<!--        <div class="uppercase mx-auto text-2xl font-bold">Category</div>-->
    <ul class="menu menu-horizontal px-1">
        <li class="mx-1">
            <a href="/" class="btn pt-3 font-bold">See All</a>
        </li>
        <li class="mx-1">
            <a href="/category/moving" class="btn pt-3">Moving</a>
        </li>
        <li class="mx-1">
            <a href="/category/dining" class="btn pt-3">Dining</a>
        </li>
        <li class="mx-1">
            <a href="/category/Transport" class="btn pt-3">Transport</a>
        </li>
        <li class="mx-1">
            <a href="/category/Residential-life" class="btn pt-3">Residential life</a>
        </li>
        <li class="mx-1">
            <a href="/category/Things-to-do" class="btn pt-3">Things to do</a>
        </li>
        <li class="mx-1">
            <a href="/category/test" class="btn pt-3">Test</a>
        </li>
    </ul>
</div>