{% extends "layout.html" %}

{% block body %}

<div class="hero min-h-[800px]" style="background-image: url('static/images/harvard_yard.png');">
<!-- HERO -->
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Welcome to IvyGuide</h1>
      <p class="mb-5">Hope you like our June 28 Release</p>
<!--      <button class="btn btn-primary">Get Started</button>-->
    </div>
  </div>
</div>

<div class="container mx-auto p-3">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mt-12">

    {% for tip in tips %}
      <div class="card w-full shadow-2xl p-4">
        <div class="card-title uppercase">
          {{tip.title}}
        </div>
        <div class="py-4">
          {{tip.text}}
        </div>
      </div>
    {% endfor %}



  </div>

</div>








{% endblock %}


