{% extends "layout.html" %}

{% block body %}
<div class="flex items-center justify-center mx-auto p-5 mt-8">
    <div class="card shadow-2xl ">
        <div class="w-full text-center p-5 uppercase text-2xl font-bold">LOGIN </div>
        <div class="w-full text-center p-5 text-red-500 text-xl font-bold">Verified Students Only </div>
      <div class="card-body">
       <form action='login' method='POST'>
           <div class="p-5">
               <input type="text" name='email' id='email' placeholder="email" class="input input-bordered input-primary w-full " />
           </div>
           <div class="p-5">
               <input type="password" name='password' id='password' placeholder="password" class="input input-bordered input-primary w-full " />
           </div>
    <!--       <div class="p-5">-->
    <!--           <input type="text" name='admincode' id='admincode' placeholder="login for admin only" class="input input-bordered input-primary w-full max-w-xs" />-->
    <!--       </div>-->
           <div class="p-5">
               <input class="btn btn-primary btn-active btn-block normal-case text-xl" type='submit' name='submit'/>
           </div>
           <div class="p-5">
              <div class="w-full text-center text-gray-400 ">Contact IvyGuide for member applications to become a verified student</div>
           </div>
       </form>
      </div>
    </div>

    </div>
</div>

{% endblock %}