{% extends "layout.html" %}

{% block body %}
<div class="flex items-center justify-center mx-auto p-5 ">
    <div class="card w-96 bg-red-50 shadow-xl ">
        <div class="card-title text-center p-5 uppercase text-2xl font-bold">SIGN UP </div>

        <div class="card-title text-center p-5 uppercase text-xl">Open to Admin only right now </div>
        <div class="card-body">
            <div class="flex-1">
                <a href="/login" class="btn btn-primary normal-case text-xl">Login</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}